@media screen and(min-width: 1281px) {
  .header_icon-count-3 {
    max-width: 600px;
  }

  .header_icon-list-item {
    min-width: 100px;
    margin-left: -40%;
  }

  .header_icon-list-item-text {
    display: block;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .desktop-menu {
    display: flex;
  }

  .header_icon-count-3 {
    max-width: 200px;
  }

  .header_icon-list-item {
    min-width: 75px;
  }

  .header_icon-list-item-text {
    display: none;
  }

  .header_icon-list-item-menu {
    display: none;
  }

  #subheader span a {
    margin-left: 10px;
  }

  #subheader a {
    margin-right: 10px;
  }

  .categoryBox {
    width: 19%;
    margin: 0 0.5% 0;
  }

  .productBox {
    width: 19%;
    margin: 0 0.5% 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .desktop-menu_link {
    display: none;
  }

  .header_icon-count-3 {
    max-width: 600px;
  }

  .header_icon-list-item {
    min-width: 100px;
    flex: 0 1 auto;
  }

  .header_icon-list-item-link {
    display: block;
  }

  .header_icon-list-item-text {
    display: none;
  }

  #subheader {
    display: none;
  }

  #logo {
    width: 125px;
    margin-left: 0.5rem;
  }

  #navigation {
    padding: 0.2rem;
    width: 40%;
  }

  #navigation #mainNav a {
    font-size: 12px;
    margin-left: 10px;
  }

  #menuNav {
    display: inline-block;
  }

  .pageTitleHeading {
    font-size: 1.6rem;
  }

  .categoryBox {
    width: 28%;
    margin: 2% 2%;
  }

  .productBox {
    width: 28%;
    margin: 2% 2%;
  }

  .footerContent h3 {
    font-size: 12px;
  }

  .footerContent ul li {
    margin: 6px;
  }

  .footerContent ul li a {
    font-size: 10px;
  }
}

@media screen and (min-width: 350px) and (max-width: 767px) {
  .desktop-menu_link {
    display: none;
  }

  #subheader {
    display: none;
  }

  .login {
    display: none;
  }

  .header_icon-list-item-text {
    display: none;
  }

  #menuNav {
    display: inline-block;
  }

  .pageTitleHeading {
    font-size: 1.25rem;
  }

  .categoryBox {
    width: 40%;
    margin: 2% 5%;
  }

  .categoryTitle p {
    font-size: 12px;
  }

  .categoryHeading span {
    line-height: 60px;
  }

  .productBox {
    width: 40%;
    margin: 2% 5%;
  }

  .footerContent h3 {
    font-size: 11px;
  }

  .footerContent ul li {
    margin: 3px;
    line-height: 1;
  }

  .footerContent ul li a {
    font-size: 6px;
  }
}

@media screen and (max-width: 349px) {
  .login {
    display: none;
  }
  #subheader {
    display: none;
  }

  .header_icon-list-item-text {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  #menuNav {
    display: inline-block;
  }

  .pageTitleHeading {
    font-size: 1rem;
  }

  .categoryBox {
    width: 80%;
    margin: 5% 5%;
  }

  .categoryTitle p {
    font-size: 12px;
  }

  .categoryHeading span {
    display: none;
  }

  .productBox {
    width: 80%;
    margin: 5% 5%;
  }

  .footerContent h3 {
    font-size: 11px;
  }

  .footerContent ul li {
    margin: 3px;
    line-height: 1;
  }

  .footerContent ul li a {
    font-size: 6px;
  }
}
